@model IEnumerable<Projekt_BDwAI.Models.Book>

@{
    ViewData["Title"] = "Lista książek";
}

<h1>Lista książek</h1>

<p>
    <a asp-action="Create">Dodaj książkę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    }
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <form asp-controller="Loans"
                              asp-action="Create"
                              method="post"
                              style="display:inline">

                            <input type="hidden" name="bookId" value="@item.Id" />

                            <button type="submit"
                                    class="btn btn-sm btn-success ms-2">
                                Wypożycz
                            </button>
                        </form>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
